<div class="grid grid-cols-4 w-full">
  <div class="col-span-1">
    <p class="text-2xl">Test started at {{testDate | date: 'dd.MM.yyyy HH:mm:ss'}}</p>
  </div>
  <app-interval-select [(fromDate)]="fromDate" [(toDate)]="toDate" [(interval)]="interval" (submitValid)="updateGraphs()"></app-interval-select>
  <!--<div class="col-span-4 w-full h-64 rounded p-3">
    <p class="text-xl">All Steps Duration</p>
    <canvas baseChart width="900px"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
    </canvas>
  </div>-->
  <div class="col-span-3 flex flex-row">
    <p class="text-2xl">Per-Step Statistics</p>
    <button *ngIf="largeView"
      (click)="largeView = !largeView"
      class="ml-10 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"> Zoom out
    </button>
    <button *ngIf="!largeView"
            (click)="largeView = !largeView"
            class="ml-10 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"> Zoom in
    </button>
  </div>
  <div [ngClass]="{'col-span-4': largeView, 'col-span-2': !largeView}" *ngFor="let lineChartDataSingle of lineChartData" class="col-span-4 w-full h-64 rounded p-3 mt-5">
    <p class="text-xl">{{lineChartDataSingle.datasets[0].label}}</p>
    <canvas class="block" baseChart
            [type]="'line'"
            [data]="lineChartDataSingle"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
    </canvas>
  </div>
  <div class="col-span-3" *ngIf="lineChartData.length == 0">
    <p class="text-md ml-3">No Data available!</p>
  </div>
</div>
