<footer data-testid="footer-element"
  class="w-full rounded-lg bg-white shadow dark:bg-gray-800 md:flex md:items-center md:justify-between w-full p-6">
  <div data-testid="footer-copyright"><span class="text-sm text-gray-500 dark:text-gray-400 sm:text-center">© <a
        href="/" class="text-sm text-gray-500 dark:text-gray-400 sm:text-center"> 2023-DA-PTT™ </a>. All Rights
      Reserved. <a href="https://www.freepik.com/free-vector/data-analysis-flat-icons-collection_4407303.htm#query=pictogram%20performance&position=0&from_view=search&track=sph">Image by macrovector_official</a> on Freepik</span></div>
  <ul data-testid="footer-groupLink" class="flex flex-wrap text-sm text-gray-500 dark:text-white">
    <li class="last:mr-0 md:mr-6"><a href="https://github.com/2023-DA-PTT/" class="hover:underline">Github</a></li>
  </ul>
</footer>
