<div class="flex flex-col">
  <div *ngFor="let testData of testPlanData" class="">
    <p class="text-4xl mb-7">{{testData.plan.name}} Test Plan</p>
    <div class="grid grid-cols-4 mt-5">
      <ng-container *ngIf="testData.runs.length > 1">
        <ng-container *ngFor="let stepData of testData.steps">
          <app-test-run-step-data-card *ngIf="stepData.step.type == 'http' && stepData.avgDuration > 0"
                                       [stepName]="stepData.step.name!"
                                       [duration]="stepData.avgDifferenceToLastRun!"
                                       [placeholder]="'Difference between 2 last runs'"
                                       [textColor]="{'text-red-500': stepData.avgDifferenceToLastRun>500,
                                       'text-yellow-500':stepData.avgDifferenceToLastRun>50 && stepData.avgDifferenceToLastRun<=500,
                                       'text-green-500': stepData.avgDifferenceToLastRun <= 50}">
          </app-test-run-step-data-card>
        </ng-container>
      </ng-container>
    </div>
    <app-plan-node-view [planId]="testData.plan.id!" class="mb-10"></app-plan-node-view>
    <div class="grid grid-cols-4 mt-5">
      <ng-container *ngIf="testData.runs.length > 0">
        <ng-container *ngFor="let stepData of testData.steps">
          <app-test-run-step-data-card  *ngIf="stepData.step.type == 'http' && stepData.avgDuration > 0"
                                        [stepName]="stepData.step.name!"
                                        [duration]="stepData.avgDuration!"
                                        [placeholder]="'Average duration of request in last run'"
                                        [textColor]="{'text-red-500': stepData.avgDuration>4000,
                                        'text-yellow-500':stepData.avgDuration>1000&&stepData.avgDuration<=4000,
                                        'text-green-500': stepData.avgDuration <= 1000}">
          </app-test-run-step-data-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
