<div class="grid grid-cols-3 auto-cols-min max-w-fit gap-6">
  <div
    class="col-span-1 p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">50</h5>
    <p class="mb-2 font-normal text-gray-500 dark:text-gray-400">Test Plans</p>
  </div>
  <div
    class="col-span-1 p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">30</h5>
    <p class="mb-2 font-normal text-gray-500 dark:text-gray-400">Test Runs</p>
  </div>
  <div
    class="col-span-1 p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">23</h5>
    <p class="mb-2 font-normal text-gray-500 dark:text-gray-400">Test Steps</p>
  </div>
  <div class="col-span-4 my-5">
    <p class="text-4xl">My awesome Test Plan</p>
  </div>
  <div class="col-span-4 mb-10 w-full h-64">
    <canvas baseChart
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
    </canvas>
  </div>
  <a href="#" class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-green-500 dark:text-white">30.5 ms</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Average duration of steps in last run</p>
  </a>
  <a href="#" class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-red-500 dark:text-white">1100.5 ms</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Average duration of steps in last run</p>
  </a>
  <a href="#" class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-yellow-400 dark:text-white">300.5 ms</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Average duration of steps in last run</p>
  </a>
</div>
